# NODE APP
PORT=3000

# MONGODB
DB_URL=mongodb://localhost:27017/sharp

# MAPBOX
MAPBOX_TOKEN=your_mapbox_token_here

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_KEY=your_cloudinary_key
CLOUDINARY_SECRET=your_cloudinary_secret

# SESSION
SECRET=your_session_secret_here
